*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.xcuserstate
xcuserdata/
Pods/
DerivedData/
iosApp/Fukaha.xcodeproj/
iosApp/build/
*.apk
*.aab
*.ipa
.kotlin
dist/
*.jks
*.keystore
key.properties
